# task4

In [4]:
import numpy as np
import pandas as pd
from numpy import nan
#from numpy import nan as NA

In [6]:
data = pd.Series([1,5,nan,8,9,nan])
print(data)

0    1.0
1    5.0
2    NaN
3    8.0
4    9.0
5    NaN
dtype: float64

In [7]:
#过滤缺失值.dropna()
#data.dropna()

0    1.0
1    5.0
3    8.0
4    9.0
dtype: float64

In [9]:
data[data.notnull()]#同上 [条件 data.notnull()]

0    1.0
1    5.0
3    8.0
4    9.0
dtype: float64

In [20]:
#以上是Series，下面是pandas
df1 = pd.DataFrame([[1,2,6,8],[nan,nan,nan,nan],[1,2,6,8],[nan,2,6,8]])
print(df1)

     0    1    2    3
0  1.0  2.0  6.0  8.0
1  NaN  NaN  NaN  NaN
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0

In [21]:
df1.dropna()#整行过滤掉了

     0    1    2    3
0  1.0  2.0  6.0  8.0
2  1.0  2.0  6.0  8.0

In [22]:
df1[df1.notnull()]#这样不行，因为它是二维的，要指定具体行列

     0    1    2    3
0  1.0  2.0  6.0  8.0
1  NaN  NaN  NaN  NaN
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0

In [25]:
df1.dropna(how='all',axis = 0)#加all只丢弃全为空的，行或列，默认axis =0行，axis =1列，

     0    1    2    3
0  1.0  2.0  6.0  8.0
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0

In [72]:
#【thresh控制删除空值行的自由度，有几列有值的可保留】
df2 = df1.append([[1,1,1,1],[nan,nan,nan,1],[1,nan,nan,1]],ignore_index=True)
#append加行，ignore_index = True不要新索引
print(df2)
print("行中有两个不为空的可以留着",df2.dropna(thresh=2))
#[thresh=2 保留至少有2个非空值的行，
#也就是说，这一行有值的数量，用这个来控制，
#有几个值时想保留其余的都可以删，用这个控]，
print("行中有1个不为空的可以留着",df2.dropna(thresh=1))
print("行中有3个不为空的可以留着",df2.dropna(thresh=3))

     0    1    2    3
0  1.0  2.0  6.0  8.0
1  NaN  NaN  NaN  NaN
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0
4  1.0  1.0  1.0  1.0
5  NaN  NaN  NaN  1.0
6  1.0  NaN  NaN  1.0
行中有两个不为空的可以留着      0    1    2    3
0  1.0  2.0  6.0  8.0
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0
4  1.0  1.0  1.0  1.0
6  1.0  NaN  NaN  1.0
行中有1个不为空的可以留着      0    1    2    3
0  1.0  2.0  6.0  8.0
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0
4  1.0  1.0  1.0  1.0
5  NaN  NaN  NaN  1.0
6  1.0  NaN  NaN  1.0
行中有3个不为空的可以留着      0    1    2    3
0  1.0  2.0  6.0  8.0
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0
4  1.0  1.0  1.0  1.0

In [73]:
#填充缺失值 ====》》》===图6775
df3 = df1.append([[1,1,1,1],[nan,nan,nan,1],[1,nan,nan,1]],ignore_index=True)
print(df3)

     0    1    2    3
0  1.0  2.0  6.0  8.0
1  NaN  NaN  NaN  NaN
2  1.0  2.0  6.0  8.0
3  NaN  2.0  6.0  8.0
4  1.0  1.0  1.0  1.0
5  NaN  NaN  NaN  1.0
6  1.0  NaN  NaN  1.0